<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" /> 
  <meta name="Description" content="The writings of Seneca the Younger" /> 
  <title>Seneca the Younger{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="http://use.typekit.com/cyd6fip.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

</head>
<body><!--
<a href="/">
<div id="ribbon">
home</div></a>
<div id="leftbar">
&nbsp;
</div>-->

<div id="body">
  {{ content }}
</div>
<div id="footer">
</div>
<script type="text/javascript">
var _sf_async_config={uid:26525,domain:"seneca.github.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>


</body>
</html>












